body {
	height: 100%;
}

#wrapper
{
	margin: auto;
  max-width: 80%;
}

#header
{
	margin-top: 30px;
 	display: block;
}

#header a
{
	color: black;
}

#header button
{
	margin-top: 40px;
}

#footer
{
	display: block;
	float: right;
	bottom: 0;
	right: 120px;
	margin: auto;
}

#title
{
	display: inline;
	vertical-align: middle;
}

#header img
{
	display: inline;
}

#content {
	margin-top: 100px;
}

@media screen and (max-width: 991px) {
	#header button a
	{
		font-size: 0.75em;
	}
}
